body {
    margin-bottom: 50px;
    background-color: rgb(240, 240, 240);
}
* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1000px;
    margin: auto;
}
.header {
    /* 单位px不能漏写！！！ */
    height: 42px;
    margin-top: 30px;
    /* background-color: skyblue; */
}
 .header .logo {
    float: left;
    width: 198px;
    height: 42px;
    background: url(../images/logo_03.png) no-repeat center/100%;
}

.header .nav {
    float: left;
    margin-left: 60px;
}
.header .nav li {
    list-style: none;
    float: left;
    margin-right: 10px;
    line-height: 42px;
}

.header .nav li a {
    padding: 0 10px;
    color: black;
    text-decoration: none;
}
.header .nav li a:hover {
    border-bottom: 1px solid purple;
}

.header .search {
    float: left;
    width: 300px;
    height: 42px;
    margin-left: 30px;
    /* background-color: purple; */
} 

.header .search input {
    float: left;
    width: 250px;
    height: 100%;
    border: 1px solid skyblue;
    border-right: none;
}
.header .search img {
    float: left;
}

.header .user {
    float:right;
    width: 120px;
    height: 42px;
    /* background-color: teal; */
}

.header .user .head {
    float: left;
    width: 50px;
    height: 42px;
    background: url(../images/user.png) no-repeat center/50%;
}

.header .user .name {
    float: left;
    width: 70;
    height: 42px;
    text-align: center;
    color:rgb(44, 43, 43);
}

.banner {
    height: 420px;
    margin-top: 20px;
    background-color: purple;
}

.banner .bg {
    height: 420px;
    background: url(../images//banner2.png) no-repeat center;
}

.banner .bg .nav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner .bg .nav ul {
    padding: 0 20px;
}

.banner .bg .nav li {
    list-style: none;
    width: 100%;
    height: 52.5px;
}

.banner .bg .nav li .name {
    float: left;
    width: auto;
    height: 52.5px;
}

.banner .bg .nav li .arrow {
    float: right;
    width: auto;
    height: 52.5px;
}

.banner .bg .nav li .arrow p {
    line-height: 52.5px;
    color: white;
}

.banner .bg .nav li div a {
    line-height: 52.5px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.banner .bg .nav li a:hover,
.banner .bg .nav li p:hover{
    color: skyblue;
}
.banner .bg .mycourse {
    float: right;
    margin-top: 60px;
    width: 230px;
    height: 300px;
    background-color: white;
}

.banner .bg .mycourse .title {
    height: 50px;
    background-color: skyblue;
    color: white;
    text-align: center;
}

.banner .bg .mycourse .title h3 {
    line-height: 50px;
}

.banner .bg .mycourse .courselist {
    height: 200px;
    margin: 0 20px;
}

.banner .bg .mycourse .courselist li {
    list-style: none;
}

.banner .bg .mycourse .courselist li div {
    height: 66.66px;
    border-bottom: 1px solid gainsboro;
}

.banner .bg .mycourse .courselist li div h4 {
    padding-top: 20px;
    font-size: 14px;
    font-weight: normal;
    color: black;
}
.banner .bg .mycourse .courselist li div p {
    font-size: 12px;
    color: gray;
}

.banner .bg .mycourse .allcourse {
    height: 40px;
    margin: 5px 20px;
} 

.banner .bg .mycourse .allcourse button {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    background-color: white;
}

/* course部分 */
.course {
    margin-top: 10px;
}
.course .nav {
    height: 40px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.course .nav .title {
    float: left;
    width: 120px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: rgb(0, 153, 255);
}

.course .nav .detail {
    float: left;
}

.course .nav .detail li {
    float: left;
    list-style: none;
}

.course .nav .detail li div {
    height: 15px;
    margin: 10px 0;
    padding: 0 20px;
    border-left: 1px solid gainsboro;
}

.course .nav .detail li div a {
    text-align: center;
    font-size: 12px;
    color: gray;
    text-decoration: none;
}

.course .nav .mod {
    float: right;
    width: 60px;
    margin-right: 20px;
    line-height: 40px;
    font-size: 12px;
    text-align: right;
    color: rgb(0, 153, 255);
}

.course .head {
    height: 30px;
    margin-top: 20px;
}

.course .head h5 {
    line-height: 30px;
    font-weight: normal;
    font-size: 13px;
    color:black;
}
 
.course .recomend {
    overflow: hidden;
    width: 1012.5px;
    margin-top: 1px;
}

.course .recomend div {
    float: left;
    width: 190px;
    height: 230px;
    margin-right: 12.5px;
    margin-bottom: 12.5px;
    background-color: pink;
}


